.container {
    margin: 5em auto;
    width: min-content;
}

h1 {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

p {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

#screen {
    width: min-content;
    font-size: 12px;
}

#screen.dm {
    color: #eee;
    background: #111;
}

#screen.lm {
    background: #fff;
    color: #111;
}

#stats {
    float: left;
    font-family: 'Courier New', Courier, monospace;
}

#fps {
    float: right;
    font-family: 'Courier New', Courier, monospace;
}

#fps:after {
    float: none;
    clear: both;
}

#dark-mode,
#light-mode {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    width: min-content;
    align-self: flex-end;
    padding: 4px;
    text-decoration: none;
}

#buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

#dark-mode.active,
#light-mode.active {
    background: #000;
    color: #fff;
}

#dark-mode:hover,
#light-mode:hover {
    border: 1px solid #000;
    padding: 3px;
}